<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>BankOfIndiaSnapshot</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>BankOfIndiaRelease</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>BankOfIndiaGroup</id>
      <name>BankOfIndiaGroup</name>
      <url>http://localhost:8081/nexus/content/groups/BankOfIndiaGroup/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>

